div {
	/*border: solid black 1px;*/
}

body {
	display: none;
}

.index {
	background-image: url(../img/index-img.jpg);
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 71.52%;  /* (img-height 977/ img-width 1366) = 71.52%  */
    position: relative;
}

.index-home {
	position: absolute;
	width: 9%;
	height: 7%;
	top: 37%;
	left: 38%;
}

.index-about {
	position: absolute;
	width: 9%;
	height: 7%;
	top: 40%;
	left: 52%;
}

.index-portfolio {
	position: absolute;
	width: 11%;
	height: 7%;
	top: 40%;
	left: 65%;
}

.index-contact {
	position: absolute;
	width: 11%;
	height: 7%;
	top: 39%;
	left: 80%;
}

.index-contact-email {
	position: absolute;
	width: 6%;
	height: 7%;
	top: 83%;
	left: 53%;
}

.index-contact-instagram {
	position: absolute;
	width: 6%;
	height: 7%;
	top: 83%;
	left: 60%;
}

.index-contact-youtube {
	position: absolute;
	width: 6%;
	height: 7%;
	top: 83%;
	left: 67%;
}

.index-xs {
	background-image: url(../img/index-xs-head.jpg);
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 48.28%;  /* (img-height 412/ img-width 836) = 49.28%  */
    position: relative;
}

.index-xs-home {
	position: absolute;
	width: 15%;
	height: 17%;
	top: 72%;
	left: 4%;
}

.index-xs-about {
	position: absolute;
	width: 15%;
	height: 19%;
	top: 76%;
	left: 27%;
}

.index-xs-portfolio {
	position: absolute;
	width: 18%;
	height: 19%;
	top: 75%;
	left: 49%;
}

.index-xs-contact {
	position: absolute;
	width: 19%;
	height: 17%;
	top: 75%;
	left: 72%;
}

.index-xs-contact-buttons img{
	width: 50%;
	margin-top: 20%;
}

.header-md-lg {
	/*background-image: url(img/header-md-lg.jpg);*/
	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
    width: 100%;
    padding-top: 30.31%;  /* (img-height 414/ img-width 1366) = 30.31%  */
    position: relative;
}

.button-md-lg {
	position: absolute;
	top: 18%;
	left: 45%;
	width: 55%;
	height: auto;
}

.button-md-lg img {
	margin-right: 3%;
}

.button-xs {
	background-image: url(../img/button-xs-frame.jpg);
	background-size: 80%;
  	background-position: center;
  	background-repeat: no-repeat;
    width: 100%;
    text-align: center;
	display: none;
	position: relative;
}

.mobile-head {
	position: relative;
}

.header-xs {
	/*background-image: url(img/header-xs.jpg);*/
	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
    width: 100%;
    padding-top: 33.95%;  /* (img-height 257/ img-width 757) = 33.95%  */
    position: relative;
}

.header-xs-home {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 43%;
	height: 60%;
}

.menu-xs {
	position: absolute;
	top: 20%;
	left: 80%;
	width: 20%;
	height: auto;
}




#img {
	width: 100%;
}

.container {
	width: 100%;
	position: relative;
}

.contact-info-md-lg {
	position: absolute;
	top: 10%;
	left: 35%;
	width: 60%;
    background: #F3F3F3;
   	border-radius: 50%;
   	padding-top: 5%;
   	padding-left: 7%;
   	padding-right: 7%;
   	text-align: center;
}

.contact-info-xs {
    background: #F3F3F3;
   	border-radius: 50%;
   	padding-top: 8%;
   	padding-left: 5%;
   	padding-right: 5%;
   	text-align: center;
}

.contact-info-inner {
	display: inline-block;
	text-align: left;
}

.contact-info-inner-xs {
	width: 90%;
}
