<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div ng-controller="PortfolioController as portfolio">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 portfolio-pages" ng-repeat="page in portfolio.pages" ng-show="tab.checkSlide(-1)">
	        <img ng-click="$parent.tab.setSlide(); portfolio.resetImgNo($index)" src="{{page.imgsrc}}"/>
		</div>
		<div ng-show="tab.checkSlide(1)">
			<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="text-align: center;">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<img ng-src="{{ portfolio.pages[portfolio.getPortIndex()].title }}">
				</div>
				<div ng-show="portfolio.sliderAct()">
					<img ng-show="portfolio.leftBlack()" ng-click="portfolio.decrement()" src="img/portfolio-arrow-left-black.jpg" class="left" />
					<img ng-hide="portfolio.leftBlack()" ng-click="portfolio.decrement()" src="img/portfolio-arrow-left.jpg" class="left" />
					<img src="{{ portfolio.pages[portfolio.getPortIndex()].imgArray[portfolio.getImgNo()] }}" id="portimg" />
					<img ng-hide="portfolio.rightBlack()" ng-click="portfolio.increment()" src="img/portfolio-arrow-right.jpg" class="right"/>
					<img ng-show="portfolio.rightBlack()" ng-click="portfolio.increment()" src="img/portfolio-arrow-right-black.jpg" class="right"/>
					<br/>
					<img src="{{ portfolio.pages[portfolio.getPortIndex()].imgnumArray[portfolio.getImgNo()] }}" id="num" style="width:13%"/>
				</div>
				<div ng-show="portfolio.youtubeAct(portfolio.getPortIndex())">
					<div class="embed-responsive embed-responsive-16by9 youtubeFrame">
					  	<iframe id="youtubeFram" class="embed-responsive-item" ng-src="{{ portfolio.getYoutubesrc(tab.checkTab(3)) }}" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>